.board {
    display: grid;
    grid-template-columns: repeat(4, 120px);
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px
}

.check-button {
    width: 100px;
    margin-top: 20px;
    padding: 15px 20px;
    background-color: white;
    color: black;
    border-color: black;
    border-width: 1px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    display: flex;
    justify-content: center;
    align-items: center;
}

.deselect-button {
    width: 130px;
}

.check-button:hover {
    background-color: rgb(167, 166, 165);
}

.found-groups {
    margin-top: 180px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
  
.found-group {
    background-color: lightgray;
    color: black;
    padding: 10px;
    border-radius: 5px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
