.tile {
    background-color: rgb(226, 218, 218);
    color: black;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 10px;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    position: relative;
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 80px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    word-wrap: break-word;
    margin-bottom: 10px;
}

.tile.selected {
    background-color: rgb(90, 89, 78, 1);
    color: white;
}